@import '../../styles/variables';

.logo {
  max-width: 29rem;
  width: fit-content;
  display: flex;
  align-items: flex-end;
  h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    margin: 0;
    margin-left: 1.23rem;
    margin-bottom: 1.1rem;
    font-size: 3.9rem;
    color: $text-color;
    letter-spacing: 0.1rem;
  }
}
