.introduction {
  background-image: url(../../../assets/svg/bg-shape.svg);
  background-position: right -0.4rem top 0;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

.main-content {
  display: flex;
  padding-left: 21.5rem;
  padding-top: 2.2rem;
  gap: 9.4rem;
  width: 100%;
  &__headline {
    margin-top: 11.3rem;
    color: #42495b;
    &--highlight {
      font-weight: bold;
      font-size: 7.4rem;
      line-height: 2.5rem;
    }
    h1 {
      line-height: 8rem;
      font-weight: 400;
      font-size: 5rem;
    }
    h2 {
      font-weight: 300;
      font-size: 1.6rem;
      color: #7a839e;
      margin-bottom: 2.1rem;
      line-height: 2.5rem;
    }
  }
  &__image {
  }
}
